.header-wrapper.dark {
  background-color: #222;
  color: #fff;
}

.header-wrapper.light {
  background-color: #958f8f;
  color: #a15252;
}

.navbar.dark {
  background-color: #333;
  color: #fff;
}

.navbar.light {
  background-color: #cef1ed;
  color: #000;
}

.theme-toggle-button.dark {
  background-color: transparent;
  border: none;
  color: #fff;
}

.theme-toggle-button.light {
  background-color: transparent;
  border: none;
  color: #000000;
}

.modal.dark {
  background-color: #333;
  color: #fff;
}

.modal.light {
  background-color: #fff;
  color: #000;
}

.search-input.dark {
  background-color: #333;
  color: #fff;
}

.search-input.light {
  background-color: #fff;
  color: #000;
}
